html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #2E2F42;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
  color:inherit;
}

.list{
  list-style: none;
  margin: 0;
  padding: 0;
}

header{
  width: 1440px;
  height: 72px;
  flex-shrink: 0;
  padding: 24px 156px;
  border-bottom: 1px solid #E7E9FC;
  background-color: #FFFFFF;
}

.logo-blue{
  color:#4D5AE5;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  position: absolute;
  left: 156px;
}


.menu-items{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  position: absolute;
  left: 347px;
}

.menu-link:hover,
.menu-link:focus{
  color: #4D5AE5;
}

.menu-active,
.contact-link:hover,
.contact-link:focus{
  color:#404BBF;
}

.contact-info{
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  position: absolute;
  left: 940px;
}

.contact-info li{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.hero{
  background-color: #2E2F42;
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
}

.hero-title{
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-align: center;
}

.hero-button{
  color:#FFFFFF;
  background-color: #4D5AE5;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.hero-button:hover{
  background-color: #404BBF;
  cursor: pointer;
}


.feature-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.feature-description{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
}

.team-name{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.team-position{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}


.filter-button{
  background-color: #F4F4FD;
  border: 1px solid #E7E9FC;
  border-radius: 4px;
  align-items: center;
  color: #4D5AE5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.filter-button:hover,
.filter-button:focus{
  background-color: #4D5AE5;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid #4D5AE5;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
}

.filter-active{
  background-color: #404BBF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid #404BBF;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
}

.project-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.project-description{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

footer{
  background-color: #2E2F42;
}

.footer-logo{
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #F4F4FD;
}

.footer-text{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #F4F4FD;
}