:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --cloud: #f4f4fd;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --white: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  width: 1440px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--navyblue, #2e2f42);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding-left: 153px;
  padding-right: 153px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-blue {
  color: var(--iris, #4d5ae5);
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  padding: 24px 0;
}

.header-menu-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  margin-left: 76px;
}

.header-menu-link,
.header-address-link {
  padding: 24px 0;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--iris, #4d5ae5);
}

.menu-active,
.header-address-link:hover,
.header-address-link:focus {
  color: var(--ocean, #404bbf);
}

.header-address-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}

.header-address-item {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--slate, #434455);
  font-style: normal;
}

.hero {
  background-color: var(--navyblue, #2e2f42);
  height: 600px;
  flex-shrink: 0;
  padding: 188px 0;
}

.hero-container {
  text-align: center;
}

.hero-title {
  color: var(--white, #fff);
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 48px;
}

.hero-button {
  color: var(--white, #fff);
  background-color: var(--iris, #4d5ae5);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
}

.hero-button:hover {
  background-color: var(--ocean, #404bbf);
  cursor: pointer;
}

.section {
  padding: 120px 0;
}

.section-no-top-padding {
  padding-top: 0;
}

.feature-list,
.image-list,
.team-members {
  display: flex;
  flex-shrink: 0;
  margin-left: -24px;
  margin-top: -24px;
}

.feature-item,
.image-item,
.team-card {
  margin-left: 24px;
  margin-top: 24px;
}

.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.feature-description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--slate, #434455);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.section-team {
  background-color: var(--cloud, #F4F4FD);
}

.team-card {
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  display: inline-flex;
  padding: 0px 0px 32px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  display: flex;
  width: 232px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.team-image {
  margin-bottom: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-position {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--slate, #434455)
  text-align: center;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-filters {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-button {
  border: 1px solid var(--cornflower, #E7E9FC);
  background-color: var(--cloud, #F4F4FD);
  border-radius: 4px;
  color: var(--iris, #4d5ae5);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 24px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--iris, #4d5ae5);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--iris, #4d5ae5);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}

.filter-active {
  background-color: var(--ocean, #404BBF);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--ocean, #404BBF);
  border-radius: 4px;
  color: var(--white, #fff);
  cursor: pointer;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-right: -24px;
  margin-bottom: -48px;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 24px;
  margin-bottom: 48px;
}

.project-wrapper {
  display: flex;
  padding: 32px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-top: 0px;
  border-bottom: 1px solid var(--cornflower, #E7E9FC);
  border-left: 1px solid var(--cornflower, #E7E9FC);
  border-right: 1px solid var(--cornflower, #E7E9FC);
  background-color: var(--white, #fff);
}

.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.project-description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--slate, #434455);
}

.footer {
  background-color: var(--navyblue, #2E2F42);
  padding: 100px 0;
}

.footer-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: var(--cloud, #F4F4FD);
  display: block;
  margin-bottom: 20px;
}

.footer-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--cloud, #F4F4FD);
}
